<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Gender</td>
            <td>Title</td>
            <td>Salary</td>
            <td>Department</td>
            <td>Address</td>
            <td>DOB</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.empId}}</td>
            <td>{{emp.empName}}</td>
            <td>{{emp.gender}}</td>
            <td>{{emp.title}}</td>
            <td>{{emp.salary}}</td>
            <td [ngSwitch]="emp.department">
            <span *ngSwitchCase="1">IT</span>
            <span *ngSwitchCase="2">HR</span>
            <span *ngSwitchCase="3">Finance</span>
            <span *ngSwitchCase="1">Admin</span>
            <span *ngSwitchDefault>NA</span>

            </td>
            <td>{{emp.address}}</td>
            <td>{{emp.dob}}</td>

        </tr>
    </tbody>
</table>